.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.title {
  font-size: 128px;
  font-style: bold;
}
.container {
  height: 100vh;
  background-image: linear-gradient(to right bottom, #15545b, #58bcc0);
}
.button {
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
